
header {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
}

header #banniere {
	height: 150px;
	background: url('/img/header.jpg');
	background-size: 100%;
}

header nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
	width: 100%;
	background-color: steelblue;
}

header nav #information {
	align-self: center;
	width: 5%;
}

header nav #information p {
	color: white;
	margin-left: 10px;
}

header nav ul {
	margin: 0;
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header nav ul a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
	height: 100%;
	width: 150px;
	border-left: solid 1px white;
	border-right: solid 1px white;
	transition: background-color 0.1s;
	margin-right: 0px;
}

header nav ul a:hover {
	background-color: white;
	color: steelblue;
}

header nav ul a li {
	list-style: none;
	font-size: 18px;
}

header nav #deconnexion {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header nav #deconnexion #deconnect {
	border: 2px solid white;
	background-color: rgb(65, 125, 175);
	color: white;
	width: 100px;
	height: 30px;
	font-size: 14px;
	border-radius: 15px;
	margin-right: 15px;
	transition: 0.05s;
}

header nav #deconnexion #deconnect:hover {
	background-color: white;
	color: rgb(65, 125, 175);
}

