body {
	font-family: sans-serif;
	margin: 0;
	background: url('../img/muscu.jpg');
	background-size: 100%;

}



#banniere {
	position: fixed;
	top: 0px;
	background-color: white;
	font-size: 20px;
	color: black;
	width: 100%;
	height: 130px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

#banniere nav {
	display: flex;
	flex-direction: row;
	height: 100%;
}

#banniere #menu {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#banniere #identification {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

#banniere #identification a:hover {
	cursor: pointer;
}

#banniere #identification button {
	width: 120px;
	margin-right: 20px;
	height: 40px;
	border-radius: 15px;
	background-color: white;
	font-size: 16px;
}

#banniere #identification a button {
	text-decoration: none;
	font-weight: 1em;
}

#banniere #identification #connexion button {
	color: steelblue;
	border: 2px solid steelblue;
	transition: 0.2s;
}

#banniere #identification #connexion button:hover {
	background-color: rgba(70, 130, 180, 0.20);
	cursor: pointer;
}

#banniere #identification #inscription button {
	background-color: steelblue;
	color: white;
	border: none;
}

#banniere #identification #inscription button:hover {
	cursor: pointer;
}

#banniere #menu ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}

#banniere #menu ul li {
	text-decoration: none;
	list-style: none;

}

#banniere #menu ul li a {
	text-decoration: none;
	color: steelblue;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	transition: border-bottom 0.2s;
}

#banniere #menu ul li a:hover {
	border-bottom: 1px solid steelblue;
	cursor: pointer;
}






#vide {
	width: 100%;
	height: 900px;
}







#contenu {
	background-color: white;
	width: 100%;
}


#contenu #quisommesnous {
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#contenu #ounoustrouver {
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#contenu #contact {
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#contenu section p {
	width: 70%;
	font-size: 18px;
}


#contenu h1 {
	margin: 100px 0px;
	color: steelblue;
	font-size: 40px;
}


#contenu a {
	margin: 50px 0px;
	padding: 10px;
	width: 250px;
	height: 80px;
}

#contenu a:hover button {
	background-color: rgba(70, 130, 180, 0.20);
	cursor: pointer;
}

#contenu a button {
	border: 2px solid steelblue;
	background-color: white;
	color: steelblue;
	width: 100%;
	height: 100%;
	font-size: 30px;
	border-radius: 15px;
	transition: 0.2s;
}