body {
	font-family: sans-serif;
	margin: 0;
	width: 100%;
	background-color: rgba(70, 130, 180, 0.1);
}

#contenu strong {
	font-weight: bold;
	color: steelblue;
	align-self: flex;
	margin-right: 10px;
}

#contenu .coach {
	width: 600px;
	margin: 30px 0;
	padding: 10px 70px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: flex-start;
}

#contenu #contien_prog {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#contenu .mes_prog {
	border: 2px solid steelblue;
	width: 400px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-radius: 20px;
	margin-bottom: 70px ;
	transition: background-color 0.1s;
}

#contenu .mes_prog button {
	position: relative;
	top: -150px;
	border: 2px solid steelblue;
	border-radius: 10px;
	width: 200px;
	height: 50px;
	display: none;
	background-color: white;
	color: steelblue;
	font-size: 20px;
	outline: none;
}

#contenu .mes_prog:hover {
	background-color: rgba(70, 130, 180, 0.15);
}

#contenu .mes_prog:hover button {
	display: block;
	cursor: pointer;
}

#contenu .mes_prog p {
	line-height: 25px;
}

#contenu .mes_prog h3 {
	color: steelblue;
	text-decoration: underline;
}

#contenu .description {
	border: 2px solid steelblue;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px 0;
}


#contenu .description .photo {
	margin-left: -200px;
	margin-right: 80px;
	box-shadow: -2px 5px 10px rgba(0,0,0,0.5);
	border-radius: 100px;
	width:120px;
	height:120px;
	overflow: hidden;
}



#contenu {
	margin: auto;
	margin-bottom: 0px;
	width: 80%;
	height: 80%;
	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 60px;
	padding-top: 60px;
}

#contenu h1 {
	font-size: 28px;
	color: steelblue;
}

#contenu h2 {
	color: steelblue;
}

#contenu p {
	color: black;
}

#contenu a {
	color: steelblue;
	text-decoration: none;
	transition: 0.1s;
}

#contenu a:hover {
	text-decoration: underline;
}

#contenu form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#contenu form .formulaire {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	height: 50px;
	margin-top: 15px;
}

#contenu form .formulaire label {
	align-self: flex-start;
	color: steelblue;
}

#contenu form .formulaire input {
	border: 0;
	border-bottom: 2px solid steelblue;
	box-shadow: none;
	width: 100%;
}

#contenu form .formulaire input:focus {
	outline: none;
}

#contenu form .formulaire input[type="submit"] {
	width: 100px;
	height: 30px;
	background-color: white;
	border: 2px solid steelblue;
	color: steelblue;
	font-size: 15px;
	border-radius: 15px;
	margin-top: 20px;
}